<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258245657321-crscpo99rhl23kbff8ljuhiir3vbrh2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258245657321-crscpo99rhl23kbff8ljuhiir3vbrh2i</string>
	<key>API_KEY</key>
	<string>AIzaSyAdaN5zjVqbPhbqoq5xXwjyRLMNy4u2xdc</string>
	<key>GCM_SENDER_ID</key>
	<string>258245657321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jason.Instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-b7af2</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-b7af2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258245657321:ios:2a37a8a84f450f8211a678</string>
</dict>
</plist>